services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "80:80" 
    networks:
      - db-network

  db:
    image: postgres:17
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: drowssap
      POSTGRES_DB: projet
    volumes:
      - db-data:/var/lib/postgresql/data
    networks:
      - db-network
    
  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin_prod
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@gmail.com
      PGADMIN_DEFAULT_PASSWORD: drowssap
    ports:
      - "5050:80"
    networks:
      - db-network
    depends_on:
      - db

volumes:
  db-data:

networks:
  db-network: